/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*make the main body to center*/
body{
    /*width:1003px;*/
    margin-top:0px;
    margin-left:auto;
    margin-right: auto;
    padding: 5px;
    /*border: 3px dotted gray;*/
}

/*style the header bar*/
#banner{
    overflow: hidden;
    /*background-color: cornsilk;*/
    /*border-bottom: 2px solid bisque;*/
    color:#336699;
}

#banner a {
    text-decoration: none;
    color: black;
}

.logo{
    float:left;
    width: 33.3%;
}

.search_bar{
    float: left;
    padding-top: 5px;
}

#search_text{
    width:250px;
}

#search{
    width:50px;
}


.locale{
    float: right;
    margin: 5px 5px 0px 0px;
}

.locale a{
    color: black;
}



